/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

* {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  font-family: "Goudy Old Style", Serif, cursive;
  margin: 20px;
}

.header {
  text-align: center;
  background-color: #701a1a;
  color: rgb(75, 95, 75);
  padding: 20px 20px;
  margin: 20px 20px;
}

.title {
  text-transform: uppercase;
}

h2 {
  color: antiquewhite;
  font-size: 20px;
}

h3 {
  color: antiquewhite;
  font-size: 25px;
  text-align: right;
  font-style: italic;
}
.navbar {
  text-transform: uppercase;
  background-color: antiquewhite;
  border-style: inset;
  border-color: #701a1a;
  border-width: 2px;
  padding: 20px;
  margin: 20px;
}

.menu__item {
  color: rgb(75, 95, 75);
}

.home_image {
  padding: 30px;
}
